.investment-section {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  padding: 30px 15px;
  color: #000; /* رنگ نوشته مشکی */
  gap: 15px;
  align-items: center;
  justify-content: center;
  direction:ltr;
  background: transparent;
}

.text-container {
  flex: 1 1 400px;
  text-align: right;
  direction: rtl ;
}

.text-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #000;
}

.text-container ul {
  list-style-type: disc;
  padding-right: 20px;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin: 0;
}

.image-container {
  flex: 1 1 400px;
  display: flex;
  justify-content: flex-start; /* تصویر سمت راست قرار بگیرد */
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* مدیا کوئری برای صفحه نمایش بزرگ‌تر */
@media screen and (min-width: 847px) {
.investment-section {
  
    padding-left: 210px;
    padding-right: 210px;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }

  .text-container {
    direction: rtl;
  }

  .image-container {
    justify-content: flex-end;
  }
}
